

    <li class="menu-item">
      <a href="{{ url_for('user.profile') }}" target="_blank" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home"></i>
        <div data-i18n="Dashboard">Dashboard</div>
      </a>
    </li>
    
    <li class="menu-item">
      <a href="{{ url_for('task.manage') }}" target="_blank" class="menu-link">
        <i class="menu-icon tf-icons bx bx-list-check" style="font-size: 26px;"></i>
        <div data-i18n="To Do">To Do</div>
      </a>
    </li>
    
    <li class="menu-item">
      <a href="{{ url_for('event.manage') }}" target="_blank" class="menu-link">
        <i class="menu-icon tf-icons bx bx-calendar"></i>
        <div data-i18n="Calendar">Calendar</div>
      </a>
    </li>
    
  
    <li class="menu-item">
      <a href="{{ url_for('user.logout') }}" target="_blank" class="menu-link">
        <i class="menu-icon tf-icons bx bx-exit"></i>
        <div data-i18n="Logout">Logout</div>
      </a>
    </li>

